<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Rochety Pulsaciones</h1><br>
      <p>El pulso es un movimiento arterial generado por los latidos cardíacos y sirve como medición del mismo. ... Por
        lo
        tanto, la cantidad de pulsaciones entrega información acerca del bombeo de este órgano y a través de éste se
        puede
        detectar si existen ciertos problemas o patologías respecto a la fuerza y ritmo cardíaco.</p>
    </div>
    </div>
  <app-nav-menu></app-nav-menu>

  <router-outlet></router-outlet>

  <footer>
    <div class="container pie_de_pagina">
      <div class="row">
        <div class="col-xs-12 col-md-6 text-left">
          <h6 class="text-muted lead">CONTACTO:</h6>
          <h6 class="text-muted">
            Calle 27# 15-84 barrio Divina Pastora<br>
            Agustin Codazzi - Cesar / Colombia<br>
            Teléfonos: 301 4351494 – 3135138085<br>
          </h6>
        </div>

        <div class="col-xs-12 col-md-6 text-right">
          <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES SOCIALES</h6>
          <div class="redes-footer">
            <a href="https://www.facebook.com/luisarturo.rochamendez"><img src="assets/facebook.png"></a>
            <a href="https://twitter.com/luarocha97"><img src="assets/twitter.png"></a>

            <a href="https://www.instagram.com/luarosh97"><img src="assets/instagram.png"></a>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12 text-right">
          <p class="text-muted small">Luis Rocha, Desarrolador Web @2020.<br> Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
